.landing-container{
    
    width:100%;
    margin:auto;
    height: 100%;
    padding:$padding;
    text-align: center;

}
.landing-wrapper{
    display:grid;
    grid-template-columns: 1fr;
    width:85%;
    margin:auto;
    align-items: center;
    @include respond-to(wide-screens){
        grid-template-columns: 1fr 1fr;
        width:50%
    }
}
.cta{   display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding:$padding;
    margin:1rem;
    background: $gradient-blue;
    color:white;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: border-color 350ms;
    img{
        width:100px;height: 100px;
     
    }
}
.cta:hover,.cta:focus{
    border: 5px solid $blue-b
}