.footernav {
  display: flex;
  width: 100vw;
  overflow: hidden;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  & .footernav__element {
    width: 25px;
    height: 25px;
    fill: $black;
    transition: 350ms ease;
    pointer-events: none;
    &.active {
      fill: $green-b;
    }
  }
}
.footernav__elements {
  display: flex;
  flex-direction: column;
}
.footernav__text {
  font-size: $small;
  text-align: center;
  display: block;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}
