.favourite-svg {
  fill: $blue-a;
}

.favourite-svg:hover,
.favourite-svg:focus {
  fill: $danger;
}
.inline.loader {
  background: inherit;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  transform: translate(0%, 25%);
}
.loader {
  position: fixed;
  background: rgba($color: $black, $alpha: 0.4);
  fill: $blue-light;
  height: 100vh;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  svg {
    animation: 700ms infinite alternate spin;
    width: 50px;
    height: 50px;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.recipe__element {
  position: relative;
  display: flex;
  flex-direction: column;
}
.to-edit {
  color: inherit;
  display: flex;
  align-items: center;
  &:focus,
  &:hover {
    fill: $success;
    color: $success;
  }
}
.edit-svg {
  width: 25px;
  height: 25px;
  margin: 0rem 0.5rem;
  align-self: flex-end;
  position: relative;
}
