.categories__grid,
.meals__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  gap: 2rem;
  padding: $padding;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.category__item {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category__item-bg {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: -2;
  position: absolute;
}
.category__item-overlay {
  background: rgba($color: darken($blue-a, 30%), $alpha: 0.7);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  position: absolute;
}
.category__item-title {
  z-index: 100;
  color: $white;
}
.category {
  box-shadow: 1px 1px 10px $black;
  height: 100%;
  width: 100%;
}
.item-container{
  position: relative;
}
.category__item-button{
  position: absolute;
  z-index: 100;
  top:1rem; right:1rem
}
