//nutrition table
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}
.tg .tg-owf9 {
  background-color: #343434;
  color: #ffffff;
  border-color: #ffffff;
  text-align: right;
  vertical-align: top;
}
.tg .tg-53ol {
  background-color: #000000;
  color: #efefef;
  border-color: #ffffff;
  text-align: right;
  vertical-align: top;
}
.tg .tg-ofj5 {
  border-color: #ffffff;
  text-align: right;
  vertical-align: top;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: $padding;
  gap: 1rem;
  text-align: center;
  color: $black;
}

.recipe__title,
.recipe__health-labels-elements,
.recipe__prep {
  background: $gradient-blue;
  border-radius: 5px;
  padding: $padding 3rem;
  width: 60%;
  color: $white;
}
.edit-input {
  background: transparent;
  border: none;
  width: 100%;
  color: white;
}
.prep-edit {
  min-height: 150px;
}
textarea:focus,
input:focus {
  box-shadow: none;
  outline: inherit !important;
  border: none;
}
.recipe__health-labels,
.recipe__prep {
  h3 {
    font-size: 1rem;
    text-align: left;
  }
}
.recipe__health-labels-elements {
  margin-block-start: inherit;
  margin-block-end: inherit;
  margin: 0 auto;
}
.recipe__nutrition-summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.recipe__nutrition-details {
  width: 55%;
  margin: 0 auto;
}

.recipe__ingredients {
  padding: $padding;
  border-radius: 5px;
  background-color: $black;
  width: 85%;
  color: $white;
}
.ingredient__elements {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: auto;
  overflow: hidden;
  gap: 1rem;
  justify-items: center;
  align-content: center;
  grid-auto-flow: dense;
}
.ingredient__element {
  width: auto;
  background: $gradient-blue;
  border-radius: 5px;
  padding: 1rem;
  word-wrap: none;
  white-space: nowrap;
}
