@import "./global.scss";
@import "./index.css";
@import "./colors.scss";
@import "./variables.scss";
@import "./components//header.scss";
@import "./components//footer.scss";
@import "./components/search/searchbar.scss";
@import "./components/categories/category.scss";
@import "./components/categories/meals.scss";
@import "./components/recipe/recipe.scss";
@import "./components/login/login.scss";
@import "./components/add/Add.scss";
.App {
  margin-bottom: 5rem;
}
