@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
$break-narrow: 362px;
$break-small: 500px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == narrow {
    @media only screen and (max-width: $break-narrow) {
      @content;
    }
  }
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  color: inherit;
}
