$padding: 1rem;
$small: 0.7rem;

.small {
  font-size: $small;
}
.margin-top {
  margin-top: 1.2rem;
}

.text-big {
  font-size: 1.3rem;
  font-weight: 400;
}

.danger {
  color: $danger;
}
.success {
  color: $success;
}

.alert {
  color: black;
  text-align: center;
  width: 100%;
  margin: 6rem 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  font-size: 1.2rem;
  font-weight: 700;
}
.alert-danger {
  border: 1px solid red;
  color: white;

  background: rgba($danger, 0.5);
}
.alert-success {
  border: 1px solid $success;
  color: $success;
  background: rgba($success, 0.5);
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  background-color: $blue-dark;
  color: white;
  border: none;
  box-shadow: 1px 1px 5px 1px $black;
}
